h1 {
    background-color: rgb(255, 255, 214);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    border-style: groove;
    }

h2 {
    text-align: center;
    background-color: rgb(255, 255, 214);
    padding: 7px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    border-style: dashed;
}

div  {
    float: left;
}

.BG {
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 400px;
}

.AM {
    width: 30%;
    background-color: rgb(142, 126, 101);
    padding: 10px;
    border-radius: 10px;
    height: 400px;
}

.hobbie {
    background-color:rgb(249, 216, 198);
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
}

body {
    background-color: rgba(226, 170, 170, 0.276);
}