h1 {
    background-color: rgb(255, 255, 214);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    border-style: groove;
    }

h2 {
    text-align: center;
    background-color: rgba(184, 156, 156, 0.521);
    padding: 7px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    border-style: dashed;
}

div  {
    float: left;
}

.BG {
    background-color: rgba(224, 201, 216, 0.621);
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 400px;
}

.AM {
    width: 30%;
    background-color: rgb(189, 179, 174);
    padding: 10px;
    border-radius: 10px;
    height: 400px;
}

.hobbie {
    background-color:rgb(249, 216, 198);
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
}

body {
    background-color: rgba(238, 223, 201, 0.859);
    color: rgb(127, 107, 94);
}

.Music {
    background-color:rgb(207, 220, 236);
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
}
