h1 {
    background-color: rgb(255, 255, 214);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    }

h2 {
    text-align: center;
    background-color: rgb(255, 255, 214);
    padding: 7px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
}

.BG {
    background-color: rgb(111, 77, 61);
    border-radius: 5px;
    padding: 10px;
}